.App {
  background-color: rgb(93, 175, 86);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
#title {
  margin-top: 2rem;
  font-size: 3rem;
}
#time-settings-container {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}
#timer-controllers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 8rem;
  margin-top: 1rem;
}